
  .containerx{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  title {
    background-color: black;
  }
  //contenedor
  .cardx{
    margin-top: -100px;
    margin-bottom: -40px;
    //margin-left: 0px;
    //margin-right: 10px;
  }

  //tamaño
  .face{
    width: 250px;
    height: 150px;
    transition: .5s; 
    //border-radius: 10px;
    //transform: translateY(-50px);
    &:hover{
      opacity: 1;
      transform: translateY(-10px);
      box-shadow: 5px 5px 0px 2px rgb(102, 175, 199);
    }
  }

  @media  screen and (max-width: 768px) {
    .cardx {
      margin-top: -100px;
      margin-bottom: -30px;
      margin-left: 0px;
      margin-right: 0px;
    }
    .face {
      width: 160px;
      height: 140px;
    }
    .containerx { 
      gap: 10px;
    }
    h3 {
      font-size: 0.8em !important;
    }
  }

  /*CARD BG*/
  .face1{
    position: relative;
    //border-radius: 5px;
    color: #333;
    display: flex;
    justify-content: center;
    font-size: 1.1em; //title size
    flex-direction: column;
    cursor: pointer;
    z-index: 1;
    //border: #00fffb solid 1px;
    //box-shadow: 5px 5px 0px 2px rgba(102, 175, 199, 0.317);
  }

  .face.face1 .content i{
    padding: 15px;
    color: #94d8e4;
    border-radius: 10px 0 10px 0;
  }
  
  /* TITLE CARD */
  .face.face1 .content h3{
    font-size: 1em;
    color: #94d8e4;
    font-weight: bold;
    text-align: center;
    transition: all .5s ease;
    &:hover{
      opacity: 1;
    }
  }

/* BOTTONS */
.btncard{
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 1em;
  text-transform: capitalize;
  font-weight: 600;
  //box-shadow: 0 10px 10px rgba(0,0,0,.8);
}
.btncard:hover{
  background: #333;
  color: rgba(245, 245, 245, 0.951);
  box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.5);
}
.ae{
  text-decoration:none;
  display: flex;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  outline : 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
}
.ae:hover{
  background: #333 ;
  color: whitesmoke; 
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
}


.free{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  //border: red solid 1px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

@keyframes identifier2 {
  0% {
    //opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    //opacity: 1;
    transform: translateY(0px);
  }
}

.obra {
  width: 250px;
  height: 70px;
  display: flex;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #17b6d2;
  fill: #17b6d2;
  border: #00fffb solid 1px;
  animation: identifier2 2s alternate;
  //box-shadow: 0px 0px 1px 2px rgba(0, 242, 255, 0.5);
  transition: all .5s ease;
    &:hover {
      opacity: 1;
      display: flex;
      box-shadow: 5px 5px 1px 2px rgba(0, 242, 255, 0.5);
    }
  @media screen and (max-width: 768px) {
    padding: 20px;
    width: 100%;
  }
  .fa {
    font-size: 1.5em;
  }
}

.contenedor_des {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 10px;
  .contech{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px;
    gap: 5px;
    b {
      color: rgba(255, 255, 255, 0.637);
      font-weight: bold;
      font-size: 16px;
    }
    // @media screen and (max-width: 600px) {
    //   flex-direction: column;
    //   gap: 20px;
    // }
  }
  
  
  .boxtech{
    font-size: 12px;
    font-weight: 600;
    list-style-type: none;
    opacity: 0.5;
    padding: 5px;
    border: #209dbcde solid 1px;
    border-radius: 10px;
    &:hover{
      opacity: 1;
    }
  }
  
}

.obra2 {
  width: 280px;
  height: 80px;
  display: flex;
  opacity: 0.8;
  justify-content: space-evenly !important;
  align-items: center;
  padding: 10px;
  color: #17b6d2;
  fill: #17b6d2;
  border: #00fffb solid 1px;
  animation: identifier2 2s alternate;
  //box-shadow: 0px 0px 1px 2px rgba(0, 242, 255, 0.5);
  transition: all .5s ease;
    &:hover {
      opacity: 1;
      display: flex;
      box-shadow: 5px 5px 1px 2px rgba(0, 242, 255, 0.5);
    }
}

.obrac {
  position: absolute;
  top: 650px;
  padding: 10px;
  //opacity: 0;
  //width: 300px;
  //border: red solid 1px;
}

.contrato {
  width: 200px;
  padding: 10px;
  border: white solid 1px;
}