
  .containerx{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    // display: grid;
    // grid-template-columns: repeat(4, 1fr); /* Tres columnas */
    // grid-auto-rows: minmax(100px, auto); /* Altura de fila mínima de 100px, se expandirá automáticamente */
    // grid-auto-flow: dense;
    gap: 40px 0px;
    justify-items: center;

    margin: 0 auto; 
    width: 80%; 
  }

  title {
    background-color: black;
  }

  //tamaño
  .face{
    
    width: 250px;
    height: 150px;
    transition: .5s; 
    //border-radius: 10px;
    //transform: translateY(-50px);
    //animation: anim2 5s infinite ease;

    &:hover{
      opacity: 1;
      transform: translateY(-10px);
      //box-shadow: 5px 5px 1px 5px var(--cyan);
    }
  }

  @media screen and (max-width: 768px) {
    .face {
      width: 160px;
      height: 140px;
    }
    .containerx { 
      grid-template-columns: repeat(2, 1fr); /* Dos columnas */
      grid-auto-flow: dense;
      width: 80%; 
      gap: 10px;
    }
    h3 {
      font-size: 0.8em !important;
    }
    
    @media screen and (max-width: 390px) {
      .containerx { 
        grid-template-columns: repeat(1, 1fr); /* Una columna */
        grid-auto-flow: dense;
        width: 100%; 
        gap: 10px;
      }
    }
  }

  // /*CARD BG*/
  .face1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

    box-shadow: 5px 5px 8px 2px rgba(102, 175, 199, 0.171);
  }

  .face.face1 .content i{
    padding: 15px;
    color: #94d8e4;
    border-radius: 10px 0 10px 0;
  }
  
  /* TITLE CARD */
  .face.face1 .content h3{
    font-size: 1em;
    color: #94d8e4;
    text-align: center;
    transition: all .5s ease;
    &:hover{
      opacity: 1;
    }
  }

/* BOTTONS */
.btncard{
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 1em;
  text-transform: capitalize;
  font-weight: 600;
  //box-shadow: 0 10px 10px rgba(0,0,0,.8);
}
.btncard:hover{
  background: #333;
  color: rgba(245, 245, 245, 0.951);
  box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.5);
}
.ae{
  text-decoration:none;
  display: flex;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  outline : 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
}
.ae:hover{
  background: #333 ;
  color: whitesmoke; 
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
}


.free{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  //border: red solid 1px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

@keyframes identifier2 {
  0% {
    //opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    //opacity: 1;
    transform: translateY(0px);
  }
}

.obra {
  width: 250px;
  height: 70px;
  display: flex;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #17b6d2;
  fill: #17b6d2;
  border: #00fffb solid 1px;
  animation: identifier2 2s alternate;
  //box-shadow: 0px 0px 1px 2px rgba(0, 242, 255, 0.5);
  transition: all .5s ease;
    &:hover {
      opacity: 1;
      display: flex;
      box-shadow: 5px 5px 1px 2px rgba(0, 242, 255, 0.5);
    }
  @media screen and (max-width: 768px) {
    padding: 20px;
    width: 100%;
  }
  .fa {
    font-size: 1.5em;
  }
}

.contenedor_des {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 10px;
  .contech{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px;
    gap: 5px;
    b {
      color: rgba(255, 255, 255, 0.637);
      font-weight: bold;
      font-size: 16px;
    }
    // @media screen and (max-width: 600px) {
    //   flex-direction: column;
    //   gap: 20px;
    // }
  }
  
  
  .boxtech{
    font-size: 12px;
    font-weight: 600;
    list-style-type: none;
    opacity: 0.5;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    //border: #91999bde solid 1px;

    //box-shadow: inset black 1px 1px 20px;
    background-color: #f3f3f3bb;

    border-radius: 10px;
    transition: all 0.5s ease-in;
    &:hover{
      color: wheat;
      box-shadow: inset black 1px 30px;
      opacity: 1;
    }
  }
  
}

.obra2, .obrasocial {
  width: 342px;
  height: 50px;
  display: flex;
  //opacity: 0.8;
  justify-content: flex-start !important;
  align-items: center !important;
  padding: 10px;
  gap: 20px;
  color: #17b6d2;
  fill: #17b6d2;
  border-width: 0.5px;
  border-style: solid;
  border-image: 
  linear-gradient(var(--cyberpunk), #0000002f) 1;
  //border-bottom: var(--cyan) solid 1px;
  animation: identifier2 2s alternate;
  //box-shadow: 0px 0px 1px 2px rgba(0, 242, 255, 0.5);
  transition: all .5s ease;
    &:hover {
      color: #17b6d2;
      display: flex;
      background: linear-gradient(to left, var(--cyberpunk), #00000010) 340px 20px;
      box-shadow: 5px 5px 1px 2px rgba(0, 242, 255, 0.5);
    }
}

.obrasocial {
  width: 50% !important;
}

.obracon{
  //border: red solid 2px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

  
.obraclose{
  width: 10%;
  display: flex;
  color: var(--cyberpunk);
  justify-content: center;
  //border: #00fffb solid 2px;
  border-width: 2px;
  border-style: solid;
  border-image: 
  linear-gradient(
      to bottom, 
      var(--cyberpunk), 
      #c7928825
  ) 1 100%;
  border-bottom: var(--cyan) solid 1px;
  background-color: transparent;
}

.obrac {
  position: absolute;
  top: 650px;
  padding: 10px;
  //opacity: 0;
  //width: 300px;
  //border: red solid 1px;
}

.contrato {
  width: 200px;
  padding: 10px;
  border: white solid 1px;
}