
$speed: 0.1s;

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.nav2 {
    position: fixed;
    display: flex;
    //position: absolute;
    justify-content: center;
    height: 4%;
    //height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    //height: 100px;
    z-index: 2;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #bebec257;
    backdrop-filter: blur(5px);
    transition: height 1s;
    .deco {
        //position: absolute;
        transition: width 1s;
        background-color: rgba(0, 0, 0, 0.555);
        padding: 20px 0 0 20px;
    }
}

.nav2:hover {
    height: 8%;

}

ul {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.nav-link {
    display: none;
    //align-items: center;
    height: 40px;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(10s);
    
}
nav {

    li{
        list-style-type: none;
    }

    &:hover .nav-link {
        display: block;
        //transform: translateY(-50%);
        //transition: transform 5s ease-in-out;
        //transform: rotate(-180deg);
    }

    .logo {
        position: absolute;
        animation-name: rainbow;
        animation-duration: 1s;
        //background-color: black;
        margin-top: 30px;
        //color: var(--text-secondary);
        //background: var(--bg-secondary);
        //cursor: pointer;
        //font-size: 1em;
        //padding: 0px 0 50px 0;
        letter-spacing: 0.5ch;
        //width: 100%;
        // &:hover {
        //     //visibility: hidden;
        //     //opacity: 1;
        //     opacity: 0;
        // }
}
}

.nav-link i,
.nav-link svg {
transition: var($speed);
color: rgba(63, 248, 174, 0.849);
}

.nav-link:hover {
filter: grayscale(0%) opacity(1);
//background: var(--bg-secondary);
color: var(--text-secondary);
}


.nav-item {
    height: 10px;
    display: inline-flex;
    //width: 500px;
    //text-align: center;
}

.link-text {
    display: flexbox;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1ch;
    text-transform: uppercase;
    margin-left: 1rem;
}


.img {
    position: relative;
    width: 33px;
    height: 33px;
    //margin-bottom: 20px;
}
.img:hover {
    //transform: scale(1.1);
    //transform: translateY(-50%);
    transform: rotate(-180deg);
    transition: transform 0.1s ease-in-out;
}

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .nav-link i,
    .nav-link svg {
        font-size: 1.5rem;
        margin: 0 1.5rem;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: inline;
        transition: opacity var($speed);
    }
}

@media only screen and (max-width: 300px) {
    
    .logo{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 1;
        &.activo {
            /* Estilo para el menú cuando esté activo (se haya deslizado hacia arriba) */
            height: 300px; /* Altura del menú */
        }
    }
    
    .nav-link i,
    .nav-link svg {
        font-size: 1.2rem;
        margin: 0rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .navbar:hover {
        width: 100%;
    }

    .navbar:hover {
        transition: opacity var($speed);
    }

    main {
        margin-left: 0px;
        margin-bottom: 60px;
    }

    #square-vid,
    #laptop,
    #habitus {
        width: 300px
    }

    .emotes>img {
        width: 70px;
    }
}