// define the background color for the sections
$section-bg-color: #0f0c0c5a;

// define the animation for the hover effect on the buttons
@keyframes button-hover {
    0% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(2px);
    }
    }

    // define the styles for the section container
    .section-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        border-radius: 5px;
    @media screen and (max-width: 400px) {
        display: flex;
        flex-direction: column;
    }
    .section {
        width: 50%;
        background-color: $section-bg-color;
        display: flex;
        //flex-direction: row wrap;
        flex-grow: 2;
        justify-content: center;
        align-items: center;
        border-color: black solid 5px;
        //
        transition: all 0.5s ease;
        @media screen and (max-width: 600px) {
            width: 100%;
        }
        &:hover {
            backdrop-filter: blur(5px) !important;
            box-shadow: #333 
        }
        // define the styles for the image container
        .image-container {
        width: 50%;
        img {
            width: 100%;
        }
        .img2{
            width: 100%;
            background-size: 100px;
        //     transform: 1s ease-in-out;
        //     &:hover {
        //         transform: scale(1.1);
        //         transition: transform 0.5s ease-in;
        //     }
        // }
        }
        }

    // define the styles for the text container
    .text-container {
    width: 50%;
    padding: 0 20px;
    }

        // define the styles for the button
        .button {
        display: inline-block;
        background-color: #333;
        color: #fff;
        font-size: 12px;
        margin: 2px;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        transition: all 0.5s ease;

        &:hover {
            cursor: pointer;
            animation: button-hover 0.3s ease;
        }
    }
    }

    // define style for mobile
    @media only screen and (max-width: 600px) {
        .section {
        flex-direction: column;

        .image-container {
            width: 100%;
            background-size: 100px;
        }

        .text-container {
            width: 100%;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 15px;
            padding: 20px 10px 0 0px;
        }
        p {
            font-size: 18px;
            line-height: 1.5;
        }
        }
    }
}