// define the background color for the sections
$section-bg-color: #ffffff9d;

// define the animation for the hover effect on the buttons
@keyframes button-hover {
    0% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(2px);
    }
    }

@keyframes button-up {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
    }
}

.buttonp {
    background-color: #333;
    color: #fff;
    font-size: 12px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: 5px 5px 0px 1px rgba(255, 255, 255, 0.2);
        color: #fff;
    }
}
    .containerq{
        //width: 100%;
        display: flex;
        justify-content: center;
        margin: 15px 0 15px 0;
    }

    // define the styles for the section container
    .section-link {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 
    }
.section-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    // define the space between the sections
    padding: auto 20px auto 20px;


.section {
    width: 33%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: all 0.5s ease;
    
    &:hover {
        border: none;
        opacity: 1;
        transform: translateY(-5px);
        border-radius: 10px;
        //box-shadow: 5px 5px 0 2px #94d8e4;
    }

    .image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    //height: 80%;
    .img2{
        overflow: hidden;
        width: 100%;
        height: 90%;
    }
}

.text-container {
    width: auto;
    height: auto;
    position: relative;
    color: #868686;
    font-weight: 200;
    padding: 0 20px;
    background-color: #000000cf;
    //backdrop-filter: blur(1px);
    margin-top: -30%;

    .ttitle{ 
        text-align: right;
        font-size: 20px;
        font-weight: 900;
        //margin-bottom: 15px;
        padding: 20px 5px 0 0px;
    }
    .tdescription{
        font-size: 14px;
        //line-height: 1.5;
        margin-bottom: 1px;
        padding: 0px 10px 0 0px;
    }
    .tlinks{
        text-transform: uppercase;
        font-size: 12px;
        line-height: 2;
        //margin-bottom: 15px;
        padding: 20px 10px 0 0px;
    }
}
    }

    // define style for mobile
@media only screen and (max-width: 1300px) {
    .image-container {
        width: 0%;
        //border: red solid 1px;
        //background-size: 100px;
    }
}

@media only screen and (max-width: 600px) {
        .section {
        display: flex;
        width: 150%;
        margin: 0;
        padding: 0;
        flex-wrap: nowrap;
        flex-direction: column;
        .image-container {
        width: 100%;
        //background-size: 100px;
        }

        .text-container {
            width: 100%;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 15px;
            padding: 20px 10px 0 0px;
        }
        p {
            font-size: 18px;
            line-height: 1.5;
        }
        }
    }
}