* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    position: relative;
    //width: 140px;
    width: 10%;
    height: 55px;
    margin: 20px;
    display: block;
    background-image: url('https://i.pinimg.com/originals/1e/46/1d/1e461d297ddd44a51d352b0cefc6d88e.gif');
    background-size: cover;
    background-position: center;
    border: 10px solid rgba(198, 247, 255, 0.5);
    border-radius: 100px;
    cursor: pointer;
    transition: 1s ease;
    box-shadow: 0 0 25px rgba(0, 0 , 0, 0.2);
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: #f2f2f2;
        width: 35px;
        height: 35px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        transition: 0.8s ease;
    }
    &::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0px solid rgba(198, 247, 255, 0.5);
        top: -2px;
        left: -3px;
        transition: 0.8s ease;
        box-shadow: 0 0 50px rgba(0, 0 , 0, 0.18);
    }

}
//Intermediate
@media screen and (max-width: 1200px) {
    label{
        width: 20%;
        height: 55px; 
    }
    label::after {
        width: 35px;
        height: 35px;
    }
}
//mobile
@media screen and (max-width: 600px) {
    label{

        width: 25%;
        height: 40px; 
    }
    label::after {
        width: 20px;
        height: 20px;
    }
    label::before {
        width: 20px;
        height: 20px;
    }
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: all 1s ease;
}


input:checked ~ label::before {
    //left: 120px;
    left: 100%;
    border: 10px solid rgba(90, 79, 136, 0.2);
    transform: translateX(-100%);
}
input:checked ~ label::after {
    //left: 120px;
    left: 100%;
    transform: translateX(-100%);
    background: #777ba5;
}
input:checked ~ label {
    background-image: url('https://i.gifer.com/7e49.gif');
    background-size: cover;
    background-position: center;
    border: 10px solid rgba(90, 79, 136, 0.354);
}

input:checked ~ .background {
    background: #0e377c;
}
input {
    display: none;
}