//dark
[data-theme="true"] {
    --background-color: #343543;
    --text-color: #bcbcbcb3 !important;
    .button {
        background-color: white !important;
        color: black!important;
        transition: all 0.7s ease;
        &:hover {
            background-color: var(--text-color) !important;
            color: var(--background-color) !important;
        }
    }

    .imgcer {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
        transition: all 0.7s ease;
    }
    .header2 .container .img-holder img {
                transition: all 1s ease;
        border: 1px solid #bcbcbcb3;
        box-shadow: 10px 5px 2px 3px #fdfdfdb3;
      }
      .boxitem {
        border: #28293e2d solid 1px;
        background-color: #343543 !important;
      }
      .section, .section-top  {
        color: var(--text-color);
        background-color: #2727275a !important;
        &:hover {
            border: none;
            opacity: .8 !important;
            box-shadow: 5px 5px 0px 1px rgba(102, 175, 199, 0.743) !important;
            border-radius: 10px;
            transform: translateY(-5px);
        }
        .buttonp {
            background-color: #d3d3d3;
            color: #000000;
            &:hover {
                box-shadow: 5px 5px 0px 1px rgba(102, 175, 199, 0.706);
                color: #1f1f1f;
            }
        }
    } //fin
    .educont {
        b{
            color: #ffffffac;
            transition: all 0.8s ease;
        }
    }
}
//light
[data-theme="false"] {
    --background-color: rgb(238, 238, 238) !important;
    --text-color: #000000a0 !important;
    .face1 {
        background-color: #f8f8f8 !important;
        box-shadow: 5px 5px 0px 2px rgba(102, 175, 199, 0.317);
        &:hover{
          box-shadow: 5px 5px 0px 2px rgb(102, 175, 199);
        }
      }
      .imgcer {
        transition: all 0.7s ease;
    }
    .educont {
        b{
            color: #000000ac;
            transition: all 0.8s ease;
        }
    }
    .header2 .container .img-holder img {
        transition: all 1s ease;
        border: 1px solid #000000b3;
        box-shadow: 10px 5px 2px 3px #000000;
      }

      .boxitem {
        border: #28293e2d solid 1px;
        background-color: whitesmoke !important;
      }
      .section, .section-top  {
        color: var(--text-color);
        border: #28293e2d solid 1px;
        background-color: #ffffff !important;
        &:hover {
            border: none;
            opacity: .8 !important;
            border-radius: 10px;
            box-shadow: 5px 5px 0px 1px rgba(7, 5, 5, 0.553) !important;
            transform: translateY(-5px);
        }
      }
      .buttonp {
        background-color: #e3e3e3;
        border: #28293e2d solid 1px;
        color: #000000a6;
        &:hover {
            box-shadow: 5px 5px 0px 1px rgba(22, 22, 22, 0.2);
        }
    }
}

p {
    color: var(--text-color) !important;
}

.nav2 {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    transition: all 0.7s ease;
    .link-text {
        color: var(--text-color) !important;
    }
}


body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    h1, h2, h4, h5, h6 {
        color: var(--text-color) !important;}
}

.face1 {
    background-color: var(--background-color) !important;
}