//dark
[data-theme="true"] {
    --background-color: #343543;
    --text-color: #bcbcbcb3 !important;
    .button {
        background-color: white !important;
        color: black!important;
        transition: all 0.7s ease;
        &:hover {
            background-color: var(--text-color) !important;
            color: var(--background-color) !important;
        }
    }
    .imgcer {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
        background-color: white;
        transition: all 0.7s ease;
    }
    .header2 .container .img-holder img {
        border: 1px solid #bcbcbcb3;
        box-shadow: 10px 5px 2px 3px #fdfdfdb3;
      }
}
//light
[data-theme="false"] {
    --background-color: #f2f2f2d4;
    --text-color: #000000 !important;
    .face1 {
        background-color: #f8f8f8 !important;
    }
    .face1:hover {
        background-color: #ffffffd4 !important;
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    }
    .header2 .container .img-holder img {
        border: 1px solid #000000b3;
        box-shadow: 10px 5px 2px 3px #000000;
      }
}

p {
    color: var(--text-color) !important;
}

.nav2 {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    transition: all 0.7s ease;
    .link-text {
        color: var(--text-color) !important;
    }
}


body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    h1, h2, h4, h5, h6 {
        color: var(--text-color) !important;}
}

.face1 {
    background-color: var(--background-color) !important;
}

/*
.dark{
  background-color: rgba(12, 12, 12, 0.977); 
  max-width: 1280px;
  //background: #2c3e50; 
  //background-image: url(/src/img/black-line.png);

  background-repeat: repeat;
  background-size: 30%;
  background-position: center;
  background-attachment: fixed;
  letter-spacing: 0.00938em;
}

.light{
  //background-color: rgba(12, 12, 12, 0.977);
  color: black;
  max-width: 1280px;
  background: #fff; 
  letter-spacing: 0.00938em;
}
*/