//dark
[data-theme="true"] {
    --cyan: #0be6df46;
    --cyberpunk: #c79288;
    --cyberpunkPlus: #c79288;
    --background-color: #d2d2d2e8;
    --background-color-second: #ffffff;
    --text-color: #1a1a1ab3 !important;
    
    .tlinks{
        color: #000000 !important;
    }

    .blank{
        background: linear-gradient(0.50turn, var(--background-color), var(--background-color-second));
    }


    .text-container, .contenedorselect {
        background-color: #b2b2b2a4;
        .text-container, .ttitle, .tdescription {
            color: rgb(0, 0, 0) !important;
        }
    }
    .title {
        color: var(--cyberpunk) !important;
        text-shadow: 0 10px 20px var(--cyberpunk);
    }
    i {
        &:before {
            color: var(--cyberpunk);
        }
    }
    .obra, .buttoned, .obra2{
        a{color: var(--cyberpunkPlus);}
        &:hover{
            color: white !important;
            box-shadow: 5px 5px 1px 2px var(--cyberpunk);
        }
        .obraicon{
            border-radius: 50px;
            fill: var(--cyberpunk) !important;
        }
    }
    
    .face1, .face, .boxitem {
        transition: all 0.3s ease-in-out;
        background-color: #e4e4e413;
        //border-bottom: var(--cyberpunk) solid 1px;
        border-width: 2px;
        border-style: solid;
        border-image: 
        linear-gradient(
            to bottom, 
            var(--cyberpunk), 
            #c7928825
        ) 1 100%;
        border-bottom: var(--cyan) solid 1px;
        box-shadow: 5px 5px 5px 2px #c7928841;
    }

    .face.face1 .content i, h3 {
        color: var(--cyberpunk) !important;
    }
    .edcont{
        // background-color: #2b2b2b0a;
        // backdrop-filter: blur(2px);
        // background-size: cover;
        //box-shadow: 1px 1px 10px 1px rgba(0, 255, 115, 0.414);
        //background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200617/pngtree-futuristic-geometric-neon-background-with-glowing-neon-and-with-cyberpunk-colors-image_339498.jpg');
        background: linear-gradient(135deg, #ffffff5d 60%, #7b7b7b2e);
    }
    .space2, .about, .boxsecond {
        border-color: var(--cyberpunk) !important;
    }
    h6 {
        opacity: 0.8;
        font-weight: 100;
        color: var(--cyberpunk) !important;
        transition: all 0.7s ease;
        &:hover{
            color: var(--cyberpunkPlus) !important;
        }
    }
    .buttoned, .btn, .obra, .btnshow, .obra2, .obraicon{
        background-color: #ffffff21 !important;
        border-color: var(--cyberpunk) !important;
        color: var(--cyberpunk);
        &:hover{
            //background-color: #0000003f;
            color: white !important;
            fill: white !important;
        }
    }
    .button {
        background-color: white !important;
        color: black!important;
        transition: all 0.7s ease;
        &:hover {
            background-color: var(--text-color) !important;
            color: var(--background-color) !important;
        }
    }

    .imgcer {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
        transition: all 0.7s ease;
    }
    .header2 .container .img-holder img {
        transition: all 1s ease;
        border: 1px solid #bcbcbcb3;
        box-shadow: 10px 5px 2px 3px #fdfdfdb3;
    }
    .section, .section-top  {
        color: var(--text-color);
        background-color: #d4d4d400 !important;
        &:hover {
            border: none;
            opacity: .8 !important;
            //box-shadow: 5px 5px 0px 1px var(--cyberpunk) !important;
            border-radius: 10px;
            transform: translateY(-5px);
        }
        .buttonp {
            background-color: #d3d3d3d7;
            color: black;
            &:hover {
                box-shadow: 5px 5px 0px 1px var(--cyberpunk);
                color: #1f1f1f;
            }
        }
    } //fin
    .educont {
        b{
            color: var(--cyberpunk);
            transition: all 0.8s ease;
        }
    }
}
//light
[data-theme="false"] {
    --cyan: #0be6dfc2;
    --cyberpunk: #0be6dfc2;
    //--background-color: #001011 !important;
    --background-color: #292c35 !important;
    --background-color-second: #30303b;
    --text-color: #ffffffa0 !important;
    
    .text-container {
        background-color: #5c5c5c5e;
        //border: red 2px solid;
        transition: all 0.8s ease;
        .text-container, .ttitle, .tdescription {
            color: white !important;
        }
    }
// @keyframes fadeIn {
//         0% {
//             opacity: 1;
//             //transform: translateY(10px);
//             border: rgba(255, 255, 255, 0) solid 1px;
//             box-shadow: 0 0 0px 2px rgb(72, 194, 214);
//         }
//         20% {
//             opacity: 0.6;
//             //transform: translateY(-5px);
//             border: 1px solid #48C2D6;
//             box-shadow: 0 0 0px 3px rgb(72, 194, 214);
//         }
//         50% {
//             opacity: 0.8;
//             //transform: translateY(-5px);
//             border: 1px solid #48C2D6;
        
//             box-shadow: 0 0 0px 3px rgb(72, 194, 214);
//         }
//         100% {
//             opacity: 1;
//             border: rgba(60, 116, 119, 0.223) solid 1px;
//             //transform: translateY(0);
//         }
//     }



    .boxtech{
        color: var(--cyan) !important;
        background-color: rgba(92, 92, 92, 0.368627451) !important;
        //box-shadow: inset rgb(221, 0, 0) 1px 30px !important;
    }

    .face1 {
        border-width: 2px;
        border-style: solid;
        border-image: 
        linear-gradient(
            to bottom, 
            #2574a1, 
            rgba(7, 175, 153, 0.404)
        ) 1 100%;
        //border-bottom: var(--cyan) solid 1px;
    }


    @keyframes cyberpunk {
        0% {
            filter: hue-rotate(0deg);
        }
        100% {
            filter: hue-rotate(360deg);
        }
    }

    .edcont{
        //background-color: #2b2b2b !important;
        background: linear-gradient(135deg, rgba(40, 40, 40, 0.532) 60%, #00ffff28);
    }
    .space2, .about {
        transition: all 0.8s ease;
        opacity: 0.5;
        border-color: var(--cyan) !important;
        &:active, &:hover {
            opacity: 1;
        }
        @media screen {
            
        }
    }
    h6 {
        transition: all 0.8s ease;
        font-weight: 100;
        color: #0be6dfc2 !important;
        //animation: cyberpunk 10s linear infinite;
    }
    .imgcer {
        transition: all 0.7s ease;
    }
    .educont {
        b{
            color: #00eeffac;
            transition: all 0.8s ease;
        }
    }
    .header2 .container .img-holder img {
        transition: all 1s ease;
        border: 1px solid #000000b3;
        box-shadow: 10px 5px 2px 3px #000000;
    }

    .boxitem {
        transition: all 0.7s ease;
        border-bottom: var(--cyan) solid 1px;
        border-bottom: var(--cyberpunk) solid 1px;
        border-width: 2px;
        border-style: solid;
        border-image: 
        linear-gradient(
            to bottom, 
            var(--cyberpunk), 
            #00000028
        ) 1 100%;
        border-bottom: var(--cyan) solid 1px;
        box-shadow: 5px 5px 5px 2px #1a726641;
        // &:hover{
        //     box-shadow: 5px 5px 0px 0px #00eeff1a;
        // }
    }
    .section, .section-top  {
        color: var(--text-color);
        border: #28293e2d solid 1px;
        background-color: #e6e6e600 !important;
        &:hover {
            border: none;
            opacity: .8 !important;
            border-radius: 10px;
            //ox-shadow: 5px 5px 0px 1px rgba(2, 238, 207, 0.553) !important;
            transform: translateY(-5px);
        }
    }
    .buttonp {
        background-color: #e4e4e420;
        border: #28293e2d solid 1px;
        color: #ffffffa6;
        &:hover {
            box-shadow: 5px 5px 0px 1px rgba(11, 213, 220, 0.751);
        }
    }
}

p {
    color: var(--text-color) !important;
}


.containernav {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    transition: all 0.7s ease;
    .link-text {
        color: var(--text-color) !important;
    }
}


@keyframes identifier {
    0% {
        opacity: 1;
        box-shadow: 0px 0px 2px 0px var(--cyberpunk);
    }
    25% {
        opacity: 0.8;
        box-shadow: 0px 0px 2px 0px var(--cyberpunk);
    }
    50% {
        opacity: 0.6;
        box-shadow: 0px 0px 0px 3px var(--cyberpunk);
    }
    75% {
        opacity: 0.8;
        box-shadow: 0px 0px 0px 3px var(--cyberpunk);
    }
    100% {
        opacity: 1;
        box-shadow: 0px 0px 2px 0px var(--cyberpunk);
    }
}

.buttont, .buttonb{
    //fill: white !important;
    background-color: var(--cyberpunk) !important;
    //border: red solid 2px;
}

.blank{
    background: linear-gradient(0.50turn, var(--background-color), var(--background-color-second));
}

body {
    transition: all 0.7s ease;
    background: linear-gradient(0.50turn, var(--background-color), var(--background-color-second));

    //background: linear-gradient(to left, var(--background-color) 40%, #) !important;
    //background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    
    h1, h2, h4, h5, h6 {
        color: var(--text-color) !important;}
}
